@model Mermaid.OrchardCore.ViewModels.MermaidSettingsViewModel

<div class="form-group field-display field-display-mermaid">
    <label asp-for="Theme">@T["Theme"]</label>
    <select asp-for="Theme" class="form-control col-sm-3">
        <option value="base">@T["Base"]</option>
        <option value="dark">@T["Dark"]</option>
    </select>
</div>